altgraph
cachetools
colorama
defusedxml
drafthorse
et-xmlfile
fonttools
fpdf2
iniconfig
Jinja2
lxml
mando
MarkupSafe
mccabe
numpy
openpyxl
packaging
pandas
pefile
pillow
pluggy
pycodestyle
pyinstaller
pyinstaller-hooks-contrib
pypdf
pytest
python-dateutil
pytz
pywin32-ctypes
pywin32
qrcode
radon
six
tzdata
